@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nunito";
}


body {  
    background: var(--bg-1);

}


:root {
    --bg-1: #f1f1f1;
    --bg-2:#e7e7e7;
    --bg-3:#dadada;

    --bg-highlight: #141414;

    --bg-gradient-color-1: #c3dee0;
    --bg-gradient-color-2: #d3c3e0;
    --bg-gradient-color-3: #e0d6c3;

    --border-color: rgb(197,197,197);
    
    --error: #d13030;

    
    --color-1: #16afb9;
    --color-1-hover: #18959e;

}